/*--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
--*/
/*-- reset --*/
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,dl,dt,dd,ol,nav ul,nav li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline;}
article, aside, details, figcaption, figure,footer, header, hgroup, menu, nav, section {display: block;}
ol,ul{list-style:none;margin:0px;padding:0px;}
blockquote,q{quotes:none;}
blockquote:before,blockquote:after,q:before,q:after{content:'';content:none;}
table{border-collapse:collapse;border-spacing:0;}
/*-- start editing from here --*/
a{text-decoration:none;}
.txt-rt{text-align:right;}/* text align right */
.txt-lt{text-align:left;}/* text align left */
.txt-center{text-align:center;}/* text align center */
.float-rt{float:right;}/* float right */
.float-lt{float:left;}/* float left */
.clear{clear:both;}/* clear float */
.pos-relative{position:relative;}/* Position Relative */
.pos-absolute{position:absolute;}/* Position Absolute */
.vertical-base{	vertical-align:baseline;}/* vertical align baseline */
.vertical-top{	vertical-align:top;}/* vertical align top */
nav.vertical ul li{	display:block;}/* vertical menu */
nav.horizontal ul li{	display: inline-block;}/* horizontal menu */
img{max-width:100%;}
/*-- end reset --*/
body {
	font-family: 'Hind', sans-serif;
} 
/*-- main --*/ 

h1 {
    font-size: 45px;
    color: #fff;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 4px;
    text-align: center;
    padding: 1em 0 0em 0;
}
/*-- slide --*/

@keyframes slideleft {
    from {
        background-position: 0%;
    }
    to {
        background-position: 90000%;
    }
}

@-webkit-keyframes slideleft {
    from {
        background-position: 0%;
    }
    to {
        background-position: 0%;
    }
}

.w3layouts-main{
    background-image: url('../images/bg.png');
    background-repeat: repeat-x;
    /*animation: slideleft 20000s infinite linear;*/
    /*-webkit-animation: slideleft 20000s infinite linear;*/
    background-size: cover;
	-webkit-background-size:cover;
	-moz-background-size:cover; 
    background-attachment: fixed;
    position: relative;
	min-height: 100vh;
}

.bg-layer {
    /*background: rgb(6 12 54 / 65%);*/
    min-height: 100vh;
    text-align: center;
}
/*-- //slide --*/

/*--header start here--*/
.w3ls-header {
    padding: 0em 0 0;
}
.icon1 {
    margin: 0 0 1em;
    padding: .8em 1em;
    background: rgba(255, 255, 255, 0.94);
    border-radius: 15px 5px;
}
.icon1 span.fa {
    color: #222;
    width: 22px;
}
.icon2 {
    margin: 0 0 1em;
    padding: 5px;
    background: rgba(255, 255, 255, 0.94);
    border-radius: 15px 5px;
}
.icon2 span.fa {
    color: #222;
    width: 22px;
}
.main-icon {
    text-align: center;
}
.main-icon span.fa{
    font-size: 50px;
    color: #fff;
    margin-bottom: 1em;
}
.wthree li {
    display: inline-block;
}
a {
    font-weight: bold;
    color: white;
    margin: 0em;
}
.bottom {
    margin: 3em 0 0;
}
.header-main {
    display: inline-table;
    width: 15%;
    height: 750px;
    max-width: 15%;
    margin: 70px auto;
    position: relative;
    /* z-index: 999; */
    /*padding: 1em 2em;*/
    /*background: rgba(128, 128, 128, 0.47);*/
    /* -webkit-box-shadow: -1px 4px 28px 0px rgb(0 0 0 / 75%); */
    -moz-box-shadow: -1px 4px 28px 0px rgba(0,0,0,0.75);
    /* box-shadow: -1px 4px 28px 0px rgb(0 0 0 / 75%); */
}

.sign-up {
    margin: 2em 0;
}
.header-left {
  background: #fff;
  padding: 0px;
}
.sign-up h2 {
    font-size: 22px;
    color: #fff;
    text-align: center;
    background: #fbbc05;
    width: 40px;
    height: 40px;
    line-height: 1.9em;
    border-radius: 50%;
    margin: 0 auto;
}
::-webkit-input-placeholder{
    color: #333!important;
}
.header-left-bottom input[type="text"] {
    outline: none;
    font-size: 15px;
    color: #222;
	border:none;
    width: 90%;
    display: inline-block;
    background: transparent;
    letter-spacing: 1px;
}
.header-left-bottom input[type="password"]{
	outline: none;
	font-size: 15px;
    color: #222;
	border:none;
    width: 90%;
	display: inline-block;
	background: transparent;
    letter-spacing: 1px;
}
.header-left-bottom button.btn {
    background: #007cc0;
    color: #fff;
    font-size: 15px;
    text-transform: uppercase;
    padding: .8em 2em;
    letter-spacing: 1px;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    display: inline-block;
    cursor: pointer;
    outline: none;
    border: none;
	width: 100%;
}

/*-- agileits --*/
.header-left-bottom p {
    font-size: 17px;
    color: #fff;
    font-weight: 500;
    float: left;
}
.nameField{
    line-height: 1;
    text-align: left;
    width: 70%;
    display: inline-block;
    margin-bottom: 10px;
}
.valueField{
    text-align: right;
    line-height: 1;
    width: 30%;
    display: inline-block;
    margin-bottom: 10px;
}

.header-left-bottom p.right {
	text-align: right;
}
.header-left-bottom p a {
	font-size: 11px;
	color: #e2e2e2;
	text-transform: uppercase;
}
.social {
    margin: 2em 0 0;
}
.heading h5 {
    color: #c5c5c5;
    color: #000000;
    margin-top: 8px;
    font-size: 20px;
}
.social span.fa {
	color: #fff;
	font-size: 12px;
	line-height: 35px;
	margin: 0 5px;
	transition: 0.5s all;
}
.social ul li {
    display: inline-block;
    margin: 0 5px;
    font-size: 15px;
    color: #fff;
    letter-spacing: 1px;
    text-transform: capitalize;
}

/*-- header end here --*/
h2 {
    font-size: 1.2em;
    color: #fff;
    line-height: 1.3em;
    letter-spacing: 10px;
    margin-bottom: 12px;
}
h3 {
    font-size: 1em;
    color: #fff;
}
h3 a {
    font-size: 17px;
    padding-left: 12px;
    color: #04c9f9;
    text-decoration: underline;
}


/*-- responsive-design --*/ 

@media(max-width:667px){
	
	h1 {
		font-size: 40px;
		letter-spacing: 3px;
	}
}

@media(max-width:415px){
	
	h1 {
		font-size: 35px;
		letter-spacing: 3px;
	}
	.social {
		margin: 1em 0 0;
	}
	.copyright {
		padding: 2em 1em;
	}
}
@media(max-width:384px){
	.main-icon span.fa {
		margin-bottom: .6em;
	}
	.header-main {
        width: 275px;
        max-width: 285px;
        margin: 0 1em;
	}
	.header-left-bottom input[type="email"],.header-left-bottom input[type="password"] {
		width: 88%;
	}
	.social ul li {
		margin: 0 2px;
	}
	h1 {
		font-size: 30px;
	}
}





.select {
    position: relative;
    min-width: 200px;
}
.select svg {
    position: absolute;
    right: 12px;
    top: calc(50% - 3px);
    width: 10px;
    height: 6px;
    stroke-width: 2px;
    /*stroke: #9098a9;*/
    fill: none;
    stroke-linecap: round;
    stroke-linejoin: round;
    pointer-events: none;
}
.select select {
    /* -webkit-appearance: none; */
    padding: 7px 40px 7px 12px;
    width: 100%;
    border: 0px solid white;
    /* border-radius: 5px; */
    /* background: #fff; */
    /* box-shadow: 0 1px 3px -2px #9098a9; */
    cursor: pointer;
    font-family: inherit;
    font-size: 16px;
    transition: all 150ms ease;
}
.select select:required:invalid {
    color: #5a667f;
}
.select select option {
    /*color: #223254;*/
}
.select select option[value=""][disabled] {
    display: none;
}
.select select:focus {
    outline: none;
    /*border-color: #07f;*/
    box-shadow: white;
}
.select select:hover + svg {
    stroke: #07f;
}
.sprites {
    position: absolute;
    width: 0;
    height: 0;
    pointer-events: none;
    user-select: none;
}

.field{
    margin-bottom: 5px;
}
.title-name{
    font-size: 30px;
    font-weight: 500;
    color: white;
}
.title-city{
    /* font-size: 18px; */
    font-weight: 400;
    color: white;
    margin-top: -15px;
}

.podium-area0{
     position: absolute;
     margin-left: auto;
     margin-right: auto;
     left: 0%;
     right: 0%;
     text-align: center;
     bottom: 30px;
     width: 106px;
     height: 250px;
     background-image: url(../images/1.png);
     background-repeat: no-repeat;
     background-size: contain;
 }
.podium-area1{
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0%;
    right: 0%;
    text-align: center;
    bottom: 30px;
    width: 106px;
    height: 250px;
    background-image: url(../images/2.png);
    background-repeat: no-repeat;
    background-size: contain;
}
.podium-area2{
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0%;
    right: 0%;
    text-align: center;
    bottom: 30px;
    width: 106px;
    height: 250px;
    background-image: url(../images/3.png);
    background-repeat: no-repeat;
    background-size: contain;
}
.podium-area3{
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0%;
    right: 0%;
    text-align: center;
    bottom: 30px;
    width: 106px;
    height: 250px;
    background-image: url(../images/4.png);
    background-repeat: no-repeat;
    background-size: contain;
}
.podium-area4{
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0%;
    right: 0%;
    text-align: center;
    bottom: 30px;
    width: 106px;
    height: 250px;
    background-image: url(../images/5.png);
    background-repeat: no-repeat;
    background-size: contain;
}
.podium-area5{
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0%;
    right: 0%;
    text-align: center;
    bottom: 30px;
    width: 106px;
    height: 250px;
    background-image: url(../images/6.png);
    background-repeat: no-repeat;
    background-size: contain;
}
.score-podium{
    margin-top: 16px;
    font-size: 31px;
    font-weight: 700;
    color: #1D1F20;
    margin-left: -4px;
}
.podium-light{
    margin-top: 32px;
    margin-left: 22px;
    width: 57px;
    height: 56px;
    border-radius: 56px;
    background-color: black;
}
.active-podium{
    background-color: #f5e203;
    box-shadow: 0px 0px 23px 18px #ffe301;
}

.block{
    width: 100%;
    height: 100%;
    background: linear-gradient(0deg , black , #3e3e3e);
}



.glow0::before , .glow0::after{
    content: '';
    position: absolute;
    left: -2px;
    top: -2px;
    background: linear-gradient(45deg , #ff4f4c, red , #8b0000 , rgba(113, 0, 0, 0.45));
    background-size: 400%;
    width: calc(100% + 5px);
    height: calc(100% + 5px);
    z-index: -1;
    animation: animate 20s linear infinite;
}
.glow0::after{
    filter: blur(40px);
}

.glow1::before , .glow1::after{
    content: '';
    position: absolute;
    left: -2px;
    top: -2px;
    background: linear-gradient(45deg , #ff882b, #ff6514, #8b4d15, rgba(113, 49, 6, 0.45));
    background-size: 400%;
    width: calc(100% + 5px);
    height: calc(100% + 5px);
    z-index: -1;
    animation: animate 20s linear infinite;
}
.glow1::after{
    filter: blur(40px);
}
.glow2::before , .glow2::after{
    content: '';
    position: absolute;
    left: -2px;
    top: -2px;
    background: linear-gradient(45deg , #b200ff, #de1cff, #8b3e7a, rgba(100, 27, 113, 0.45));
    background-size: 400%;
    width: calc(100% + 5px);
    height: calc(100% + 5px);
    z-index: -1;
    animation: animate 20s linear infinite;
}
.glow2::after{
    filter: blur(40px);
}
.glow3::before , .glow3::after{
    content: '';
    position: absolute;
    left: -2px;
    top: -2px;
    background: linear-gradient(45deg , #0b18ff, #1859ff, #1c638b, rgba(4, 24, 113, 0.45));
    background-size: 400%;
    width: calc(100% + 5px);
    height: calc(100% + 5px);
    z-index: -1;
    animation: animate 20s linear infinite;
}
.glow3::after{
    filter: blur(40px);
}

.glow4::before , .glow4::after{
    content: '';
    position: absolute;
    left: -2px;
    top: -2px;
    background: linear-gradient(45deg , #ffcd57, #ffe700, #878b0c, rgba(109, 113, 5, 0.45));
    background-size: 400%;
    width: calc(100% + 5px);
    height: calc(100% + 5px);
    z-index: -1;
    animation: animate 20s linear infinite;
}
.glow4::after{
    filter: blur(40px);
}
.glow5::before , .glow5::after{
    content: '';
    position: absolute;
    left: -2px;
    top: -2px;
    background: linear-gradient(45deg , #6fff6b, #31ff1a, #1f8b1e, rgba(13, 113, 8, 0.45));
    background-size: 400%;
    width: calc(100% + 5px);
    height: calc(100% + 5px);
    z-index: -1;
    animation: animate 20s linear infinite;
}
.glow5::after{
    filter: blur(40px);
}

.border0{
    border: 6px solid #c80f10;
    border-radius: 5px;
}
.border1{
    border: 6px solid #c85825;
    border-radius: 5px;
}
.border2{
    border: 6px solid #b627c8;
    border-radius: 5px;
}
.border3{
    border: 6px solid #2534c8;
    border-radius: 5px;
}
.border4{
    border: 6px solid #c8b919;
    border-radius: 5px;
}

.border5{
    border: 6px solid #00c800;
    border-radius: 5px;
}


@keyframes animate {
    0%{
        background-position: 0 0;
    }
    50%{
        background-position: 400% 0;
    }
    100%{
        background-position: 0 0;
    }
}

.glow::after{
    filter: blur(40px);
}

.userFrame1{
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0%;
    right: 0%;
    text-align: center;
    width: 180px;
    height: 120px;
    background: linear-gradient(0deg , black , #3e3e3e);
    z-index: 100;
}
.userFrame2{
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0%;
    right: 0%;
    top: 153px;
    text-align: center;
    width: 180px;
    height: 120px;
    background: linear-gradient(
            0deg , black , #3e3e3e);
    z-index: 100;
}

.userFrame3{
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0%;
    right: 0%;
    top: 310px;
    text-align: center;
    width: 180px;
    height: 120px;
    background: linear-gradient(
            0deg , black , #3e3e3e);
    z-index: 100;
}
























